#logo{
    width: 25%;
    border-radius: 50%;
    border: solid 1px black;
}

.header__nav{
    background-color: var(--var-color-enlace);
    text-align: center;
    list-style: none;
}

.header__nav a{
    text-decoration: none;
}