:root {
    --color-principal: #EAC926;
    --color-secundario: #1259c3;
    --color-fuente: #03264C;
    --color-grisoscuro: #666;
    --color-grisclaro: #ebebeb;
    --color-desc: #39b54a;
    --texto-cuerpo: 12px;
    --texto-titulares: 24px;
    --texto-precios: 18px;
    --texto-descuentos: 16px;
    --texto-descript: 16p;
    --tamano-img: 177px;
    --tamano-article: 200px;
    --tamano-icono: 2em;
}



html {
    background-color: var(--color-grisclaro);
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--color-principal);
    color: var(--color-fuente);
    margin: -7px -7px 0 -7px;

    box-sizing: border-box;
}

.size-placeholder {
    border-style: none;
    border-radius: 2px;
    height: 22px;
}

.search-button {
    background-color: #FFFFFF;
    height: 22px;
    margin-left: -6px;
    border-style: none;
    border-radius: 2px;
    padding: 2.8px;
}

.img-size {
    width: var(--tamano-img);
    box-sizing: border-box;
}

.center {
    margin-left: 55px;
    margin-top: 15px;
    box-sizing: border-box;
}


.links,
.center,
p {
    font-size: var(--texto-cuerpo);
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;
}

.links a {
    text-decoration: none;
    color: var(--color-fuente);
}


.burger-menu {
    background-color: var(--color-secundario);
    color: #ebebeb;
    text-align: center;
    width: 1em;
    border-radius: 2px;
    margin: auto;
    box-sizing: border-box;
}

.color-article {
    background-color: #FFFFFF;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    box-sizing: border-box;
}

.size-article {
    width: var(--tamano-article);
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}


.flex-container>div {
    text-align: center;
    margin: 20px;
    box-sizing: border-box;

}

.font-size {
    font-size: var(--texto-titulares);
    text-align: center;
}

.precio {
    font-size: var(--texto-precios);
}

.desc {
    font-size: var(--texto-descuentos);
    color: var(--color-desc);
}

.descr {
    font-size: var(--texto-descript);
}

.icon-size {
    display: contents;
    color: #1259c3;
    margin-bottom: 10px;
    width: var(--tamano-icono);
    box-sizing: border-box;
}

footer {
    background-color: #FFFFFF;
    margin-top: -10px;
    padding-top: 50px;
    box-sizing: border-box;

}

.footer {
    text-align: center;
    color: var(--color-grisoscuro);
    margin-left: 50px;
    margin-right: 50px;

}

.title-footer {
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 40px;
}

.Copyright {
    color: var(--color-grisoscuro);
    margin-left: 10px;
}

article {
    text-align: center;
    color: var(--color-grisoscuro);
}