:root {
    --color-principal: #EAC926;
    --color-secundario: #1259c3;
    --color-fuente: #03264C;
    --color-grisoscuro: #666;
    --color-grisclaro: #ebebeb;
    --texto-cuerpo: 12px;
    --texto-titulares: 24px;
    --texto-descript: 16px;
    --tamano-img: 120px;
    --tamano-icono: 2em;
}

html {
    background-color: var(--color-grisclaro);
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--color-principal);
    color: var(--color-fuente);
    margin: -7px -7px 0 -7px;
    box-sizing: border-box;
}

ul{  
    list-style-type: none;
    text-align: left;
    text-decoration-line: none;
}

a {
    text-decoration: none;
    color: var(--color-fuente);
}

.header-nav {
    font-size:small;
    display: inline-flex;
    box-sizing: border-box;
}
.header-nav1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

.header-nav > div {
    text-align: center;
    margin-right: 20px;
    padding: 3px;
}

.search-button {
    margin-left: -4px;
    background-color: #FFFFFF;
    height: 22px;
    border-style: none;
    border-radius: 2px;
    padding: 2.8px;
}

.img-size {
    width: var(--tamano-img);
    box-sizing: border-box;
}

.hand-buy {
    font-size: small;
    width: 300em;
    box-sizing: border-box;
}

.burger-menu-login {
    display: none;
    background-color: var(--color-secundario);
    color: #ebebeb;
    text-align: center;
    width: 1em;
    border-radius: 2px;
    margin: auto;
    box-sizing: border-box;
}

.form {
    background-color: var(--color-grisclaro);
    color:var(--color-grisoscuro);
    height: 7em;
    margin-top: 2em;
    margin-bottom: 2em;
    box-sizing: border-box;
}

.placeholder {
    align-items: center;
    background-color: var(--color-grisclaro);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    box-sizing: border-box;
}

.size{
    color: var(--color-grisoscuro);
    font-size: var(--texto-descript);
    border-style: none;
    border-radius: 2px;
    width: 18em !important;
    height: 1.7em !important;
    margin-bottom: 1em;
    box-sizing: border-box;
}


.send-button{
    background-color: #1259c3;
    color: #FFFFFF;
    border-bottom-style: none;
    border-style: none;
    border-radius: 2px;
    width: 21.5em;
    height: 1.7em;
    box-sizing: border-box;
}





