:root {
    --color-principal: #EAC926;
    --color-secundario: #1259c3;
    --color-fuente: #03264C;
    --color-grisoscuro: #666;
    --color-grisclaro: #ebebeb;
    --texto-cuerpo: 12px;
    --texto-titulares: 24px;
    --texto-descript: 16p;
    --tamano-img: 120px;
    --tamano-icono: 2em;
}

.form-register{
    text-align: center;
    background-color: var(--color-grisclaro);
    color:var(--color-grisoscuro);
    height: 42em;
    margin-top: 2em;
    margin-bottom: 2em;
}