@import'Home.css';
@import'login.css';
@import'register.css';


@media (max-width: 768px) {


    main {
        width: 90%;
        margin: auto;
        box-sizing: border-box;
    }

    .banner {
        width: 100%;
        height: auto;
    }

    .img-camion {
        top: -35px;
        right: -20px;
    }


    .descr {
        display: none;
    }

    .header-nav,
    .header-nav1 {
        display: none;
    }

    .burger-menu-login {
        display: block;
    }
}

/* para navegación en tablets y desktop*/


@media (min-width: 768px) and (max-width:1024px) {



    .nav {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .size-placeholder {
        width: 100%;
        display: inline-block;
        border-style: none;
        border-radius: 2px;
        height: 1.7em;
    }

    .img-size {
        width: 30%;
        display: inline-block;
        box-sizing: border-box;
    }

    main {
        width: 90%;
        margin: auto;
        box-sizing: border-box;
    }

    .banner {
        width: 100%;
        height: 250px;
    }

    .nav-1 {
        width: 100%;
        position: relative;
        display: flex;
        justify-items: start;
        justify-content: space-evenly;
        align-content: stretch;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
    }

    .flex-container {

        width: 65%;
    }

    .img-camion {
        top: -30px;
        right: -110px;
    }

    .descr {
        display: block;
    }

    .header-nav,
    .header-nav1 {
        position: relative;
        display: block;
    }

    .burger-menu-login,
    .burger-menu {
        display: none;
    }

    .articulos {
        width: 75%;
    }

}

@media (min-width: 1024px) {

    .articulos {
        width: 100%;
    }

    .nav {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .size-placeholder {
        width: 90%;
        display: inline-block;
        border-style: none;
        border-radius: 2px;
        height: 1.7em;
    }

    .img-size {
        width: 30%;
        display: inline-block;
        box-sizing: border-box;
    }

    main {
        width: 90%;
        margin: auto;
        box-sizing: border-box;
    }

    .banner {
        width: 100%;
        height: 300px;
    }

    .nav-1 {
        width: 100%;
        position: relative;
        display: flex;
        justify-items: start;
        justify-content: space-evenly;
        align-content: stretch;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
    }

    .flex-container {

        width: 60%;
    }

    .img-camion {
        top: -30px;
        right: -110px;
    }

    .descr {
        display: block;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .header-nav,
    .header-nav1 {
        position: relative;
        display: block;
    }

    .burger-menu-login,
    .burger-menu {
        display: none;
    }
}

/* footer tp07 */

footer{
    /* display:flex;
    justify-content: space-around;
    align-items: center; */

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.footer{
    margin: 0;
    width: 30%;
}

.icon.size{
    font-size: 2em;
    margin-bottom: 1em;
}

.title-footer{
    font-size: 1.2em;
    margin-bottom: 1em;
}

.icon-size:hover{
    color: #0096c7;
}

