
:root {
    --color-principal: #EAC926;
    --color-secundario: #1259c3;
    --color-fuente: #03264C;
    --color-grisoscuro: #666;
    --color-grisclaro: #ebebeb;
    --color-desc: #39b54a;
    --texto-cuerpo: 12px;
    --texto-titulares: 24px;
    --texto-precios: 18px;
    --texto-descuentos: 16px;
    --texto-descript: 16px;
    --tamano-img: 177px;
    --tamano-article: 10em;
    --tamano-icono: 2em;
}

