[submodule "ZNTabare.github.io"]
    path = ZNTabare.github.io
    url = https://github.com/ZulmaNataliaTabare/ZNTabare.github.io.git
[submodule "ZNTabare.github.io"]
    path = ZNTabare.github.io
    url = https://github.com/ZulmaNataliaTabare/ZNTabare.github.io.git
